### quiz 01> 주민등록번호 및 성별 체크

주민등록번호 14자리를 입력받아서 성별을 체크합니다.
프로그램 종료는 (q,Q)를 누를때 까지 반복처리합니다.

입력예제 : 123456-1234567
조건처리 : 길이값 체크 / 성별 체크(가능값1,2,3,4)
출력 : 여서입니다. or 남성입니다.

In [33]:
num = input("주민등록번호 : ")
num

주민등록번호 :  9710161794417

'9710161794417'

In [17]:
num1 = num.split(sep='-')

In [30]:
r = int(list(num1[1])[0])
r

1

In [31]:
list(num)

['9', '7', '1', '0', '1', '6', '-', '1', '7', '9', '4', '4', '1', '7']

#### 해설

In [50]:
while True :  #무한 반복
    invalue = input('주민등록번호 입력(14자리, 종료:q,Q) >>> ')
    if len(invalue) == 1 and invalue.lower() == 'q' :
        print('프로그램 종료')
        break    #가까운 while문 또는 for문을 종료
    elif len(invalue) == 14 and invalue[6] == '-' and invalue[7] in ['1','2','3','4'] :  #14자리 and '-' and 7번째 자리가 1,2,3,4 인 경우
        if invalue[7] in ['1','3'] :
            print('남성입니다.')
        else :
            print('여성입니다.')
    else :
        print('입력 문자의 길이가 안맞거나, 성별값의 범위가 아닙니다.')

주민등록번호 입력(14자리, 종료:q,Q) >>>  971016-1794417

남성입니다.

주민등록번호 입력(14자리, 종료:q,Q) >>>  1

입력 문자의 길이가 안맞거나, 성별값의 범위가 아닙니다.

주민등록번호 입력(14자리, 종료:q,Q) >>>  q

프로그램 종료

In [49]:
len('high')

4

### quiz 02> 로또 번호 추출기

총 5세트의 번호를 추출합니다.
한 세트당 번호는 6개
번호는 1~45
번호는 중복불가
번호 출력시 오름차순 정렬

In [51]:
import random  #파이썬기본함수가 아님

In [66]:
random.random()  #0~1사이 랜덤실수값

0.9142882829991194

In [97]:
random.randint(1,45)  #1이상 45이하 랜덤정수값

11

In [1]:
a = [2,4,6,1]
a.sort()
a

[1, 2, 4, 6]

In [6]:
a = [1,3,7]
7 in a

True

#### 내 꺼

In [17]:
import random

lotto_num =[]

for i in range(0,5) :
    l = []
    j = 0
    while j < 6 :
        n = random.randint(1,45)
        if n not in l :
            l.append(n)
            j += 1
    l.sort()
    lotto_num.append(l)
lotto_num

[[1, 3, 12, 18, 22, 41],
 [6, 12, 13, 14, 37, 38],
 [1, 2, 13, 16, 35, 37],
 [6, 8, 18, 19, 30, 45],
 [1, 13, 14, 19, 24, 29]]

#### 해설1

In [26]:
import random


for i in range(5) :
    lotto =[0,0,0,0,0,0]
    for x in range(6) :
        num = 0
        while (num in lotto) :
            num = random.randint(1,45)
        lotto[x] = num
    lotto.sort()
    print(lotto)

[6, 14, 27, 29, 34, 35]
[3, 9, 12, 34, 36, 38]
[6, 15, 17, 21, 39, 40]
[3, 6, 12, 36, 40, 45]
[2, 8, 11, 17, 20, 27]

#### 해설2

In [34]:
import random

for i in range(6) :
    lotto = random.sample(range(1,46),6)  #1이상 46미만에서 중복없이 랜덤정수값 6개
    lotto.sort()
    print(lotto)

[3, 14, 15, 23, 24, 42]
[2, 19, 33, 37, 41, 45]
[5, 30, 37, 38, 39, 40]
[5, 15, 25, 39, 40, 41]
[2, 4, 6, 7, 33, 43]
[6, 14, 15, 30, 36, 44]

In [ ]:
l.append(random.randint(1,45))
l

In [126]:
l = []

for j in range(0,6) :
    l.append(random.randint(1,45))
    
l

[8, 45, 43, 4, 24, 14]

In [121]:
l = []
j = 0
    while j < 4 :
        l.append(random.randint(1,45))
        if l[j] in l :
            l[j].remove()
            j -= 1
        j += 1

[10, 3, 27, 35, 26]

### quiz 03> 커피메뉴 관리프로그램

데이터 저장은 딕셔너리 {'메뉴명':가격, 'coffee':2000, ...}
프로그램에서 사용할 메뉴

  1.메뉴 입력  2.메뉴 수정  3.메뉴 목록  4.메뉴 삭제  5.프로그램 종료
  
- 메뉴 입력 : 메뉴명과 가격을 입력받아 저장(딕셔너리)
- 메뉴 수정 : 메뉴명을 확인하고 있는 메뉴에 가격을 입력받아 수정
- 메뉴 목록 : 저장된 메뉴명과 가격을 출력(천단위 구분 기호 표시), **메뉴명 순서대로 출력(ㄱㄴㄷ..)
- 메뉴 삭제 : 메뉴명을 확인하고 있는 메뉴에서 삭제
- 프로그램 종료 : 종료 메시지 출력 후 종료     tip.종료하기 전에 무한반복 -> while문

  + 메뉴 1~5까지만 입력받고 다른 값이 들어오면 관련 에러 메시지 출력)
  + 가격은 숫자로 입력해야함

##### 가나다 정렬법
###### sorted

In [35]:
list1 = [5,2,3,1,4]
dict1 = {'아이스아메리카노':3000, '카페라떼':4000, '망고스무디':4500}

In [36]:
sorted(list1)  #원본을 수정하지는 않는다.

[1, 2, 3, 4, 5]

In [37]:
list1

[5, 2, 3, 1, 4]

In [39]:
sorted(dict1)  #기본적으로 key를 기준으로 정렬

['망고스무디', '아이스아메리카노', '카페라떼']

In [43]:
  #lambda식은 간단한 함수식

sorted(dict1.items(), key=lambda data:data[1])  #data = dict.items()
                                                #data에서 각 튜플중 1위치의 요소를 기준으로 정렬

[('아이스아메리카노', 3000), ('카페라떼', 4000), ('망고스무디', 4500)]

In [47]:
student_tu = [('join','A',15),
              ('jane','B',12),
              ('dave','B',10)]
student_tu

[('join', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [46]:
sorted(student_tu)  #기본 key 정렬

[('dave', 'B', 10), ('jane', 'B', 12), ('join', 'A', 15)]

In [48]:
sorted(student_tu, key=lambda x:x[2], reverse=True)  #x = student_tu
                                                     #student_tu에서 각 튜플중 2위치의 요소를 기준으로 정렬

[('join', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [51]:
cafe = {input("음료 : "):input("가격 : ")}

음료 :  커피
가격 :  2500

In [52]:
cafe

{'커피': '2500'}

#### 1. 메뉴 입력

In [85]:
cafe = {}
for i in range(5) :
    cafe[input("음료명 : ")] = int(input("가격 = "))
cafe

가격 =  3000
음료명 :  아메리카노
가격 =  3500
음료명 :  카페라떼
가격 =  2700
음료명 :  얼그레이
가격 =  4500
음료명 :  자몽블랙티
가격 =  4000
음료명 :  제주말차라떼

{'아메리카노': 3000, '카페라떼': 3500, '얼그레이': 2700, '자몽블랙티': 4500, '제주말차라떼': 4000}

#### 2. 메뉴 수정

In [87]:
m = input("메뉴명 : ")
if m in cafe.keys() :
    cafe[m] = int(input("수정된 가격 : "))
else :
    print("존재하는 메뉴를 입력해주세요.")
    
cafe

메뉴명 :  아메리카노
수정된 가격 :  3200

{'아메리카노': 3200, '카페라떼': 3500, '얼그레이': 2700, '자몽블랙티': 4500, '제주말차라떼': 4000}

#### 3. 메뉴 목록

In [80]:
sorted(cafe.items())

for i in range(5) :
    cafe[1]

RuntimeError: dictionary changed size during iteration

In [76]:
sorted(cafe.items(), key=lambda x:x[1])

[('얼그레이', 2500),
 ('아메리카노', 2800),
 ('카페라떼', 3300),
 ('제주말차라떼', 4000),
 ('자몽블랙티', 4500)]

In [98]:
cafe.keys()

dict_keys(['아메리카노', '카페라떼', '얼그레이', '자몽블랙티', '제주말차라떼'])

#### 4. 메뉴 삭제

In [100]:
del cafe[input("삭제할 음료명 :")]
cafe

삭제할 음료명 : 아메리카노

{'카페라떼': 3500, '얼그레이': 2700, '자몽블랙티': 4500, '제주말차라떼': 4000}

In [101]:
cafe[input("음료명 : ")] = int(input("가격 = "))
cafe

가격 =  3200
음료명 :  아메리카노

{'카페라떼': 3500, '얼그레이': 2700, '자몽블랙티': 4500, '제주말차라떼': 4000, '아메리카노': 3200}

#### 5. 프로그램 종료

In [ ]:
while True :
    # 1. 메뉴 입력
    cafe = {}
    for i in range(5) :
        cafe[input("음료명 : ")] = int(input("가격 = "))
    
    # 2. 메뉴 수정
    m = input("메뉴명 : ")
    if m in cafe.keys() :
        cafe[m] = int(input("수정된 가격 : "))
    else :
        print("존재하는 메뉴를 입력해주세요.")
        
    # 3. 메뉴 목록
    
    # 4. 메뉴 삭제
    del cafe[input("삭제할 음료명 :")]
    
    # 5. 프로그램 종료
    if input("종료하시겠습니까? Y/N : ") = Y :
        break